@import '../../../../style/SCSS/variables';
@import '../../../../style/SCSS/mixins.scss';

.country-information {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba($accent-color, 0.3);
  border-radius: 10px;
  padding: 10px 0;
  min-height: 100px;
  font-size: $font-size-primary;
}
