@import '../../../../style/SCSS/variables';
@import '../../../../style/SCSS/mixins.scss';

.country-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba($accent-color, 0.3);
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  font-size: $font-size-primary;
  position: relative;
  :nth-child(n) {
    margin-left: 10px;
  }

  &__favorite {
    font-size: $font-size-big;
    color: $active-color;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__title {
    width: 100%;
    margin-bottom: 20px;
  }

  &__languages {
    width: 100%;
    margin: 20px 10px 0 10px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    border: 1px solid rgba($main-bg-color, 0.5);
    border-radius: 5px;
    padding-bottom: 10px;
    :nth-child(n) {
      padding-top: 10px;
    }
  }

  &__languages-title {
    text-decoration: underline;
  }

  .border-countries {
    width: 100%;
    border: 1px solid rgba($main-bg-color, 0.5);
    border-radius: 10px;
    padding: 10px;
    padding-right: 30px;
    margin: 20px 10px 10px;

    @media (min-width: 991.98px) {
      & {
        padding: 10px;
      }
    }

    &_list {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      :nth-child(n) {
        margin-left: 0;
      }
    }

    &__summary {
      border-radius: 10px;
      outline: none;
      :focus {
        outline: 0;
      }
    }
  }
}

.border-countries {
  &__list {
    list-style: none;
  }
}
