@import '../../../../style/SCSS/variables';
@import '../../../../style/SCSS/mixins.scss';

.search-results {
  width: 100%;
  border: 1px solid rgba($accent-color, 0.3);
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  font-size: $font-size-medium;

  &__fetching {
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__error {
    opacity: 0.5;
    margin-bottom: 10px;
  }

  &__countries {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
}
