@import '../../../style/SCSS/variables';
@import '../../../style/SCSS/mixins.scss';

.label-for-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;

  &:checked + .checkbox__style::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: $active-color;
  }

  &:disabled + .checkbox__style {
    border-color: $primary-color;
  }

  &:checked:disabled + .checkbox__style::before {
    background-color: $primary-color;
  }

  &:focus + .checkbox__style {
    box-shadow: 0 0 0 1px $accent-color;
  }

  &__style {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid $active-color;
  }

  &__title {
    padding-left: 10px;
    color: $primary-color;
  }
}
