.body {
  display: flex;
  justify-content: center;

  .search-block {
    display: flex;
    flex-direction: column;
    width: 70%;
    flex-grow: 2;
  }

  @media (max-width: 479.97px) {
    & {
      flex-wrap: wrap;
    }
  }
}
