@import '../../../style/SCSS/variables';
@import '../../../style/SCSS/mixins.scss';

.main-content {
  color: $primary-color;
  display: flex;
  flex-wrap: wrap;
  background: $bg-color;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $bshadow;
  width: 100%;
  font-size: $font-size-big;

  &__title {
    width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: 991.98px) {
    & {
      padding: 10px;
    }
  }
}
