@import '../../../style/SCSS/variables';
@import '../../../style/SCSS/mixins.scss';

.search-form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  border-radius: 5px;
  background: $bg-color;
  box-shadow: $bshadow;
  margin: 20px 0 20px 0;

  &__request {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__input {
    width: 100%;
    color: $primary-color;
    background-color: transparent;
    outline: none;
    border: transparent;
    padding: 0 10px;
    margin-right: 10px;
    border-bottom: 2px solid $primary-color;
    transition: all 0.8s ease;
    &::placeholder {
      color: $primary-color;
      font-weight: 100;
      opacity: 0.5;
    }
  }
  .isError {
    border-bottom: 2px solid red;
  }

  &__search-btn {
    min-width: 20px;
    background-color: transparent;
    outline: none;
    border: transparent;
    cursor: pointer;
    @include __icon('../../assets/imgs/search-solid.svg');
  }

  &__checkboxes {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 10px;
    label {
      margin-left: 20px;
    }
    @media (max-width: 575.98px) {
      & {
        font-size: $font-size-primary;
      }
    }
  }
}
