$main-bg-color: rgba(
  $color: #515f67,
  $alpha: 1,
);
$bg-color: rgba(
  $color: #353f46,
  $alpha: 0.85,
);

$primary-color: white;
$accent-color: rgba(
  $color: rgb(127, 191, 219),
  $alpha: 1,
);
$active-color: rgba(
  $color: #4bcaff,
  $alpha: 1,
);

$bshadow: 0 0 10px rgba(0, 0, 0, 0.5);

// fonts
$font-size-big: 20px;
$font-size-medium: 18px;
$font-size-primary: 14px;

$primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
