@mixin __icon($path) {
  position: relative;
  height: 20px;
  width: 20px;
  background: url($path) center/cover no-repeat;
}

@mixin __heightEqualwidth {
  &:after {
    //делает высоту блока, к которому относится, равной его ширине
    content: '';
    padding-top: 100%;
    display: block;
  }
}
